@namespace "http://www.gov.org/west";
@namespace eas "http://www.gov.org/east";

states{
	background-color: #325466;
}

state{
	color: #999999;
	display: block;
	background-color: #122455;

}

eas|state{
	display: block;	
	color: #003712;
}